// .counter {
//     font-size: 20px;
//     max-width: 145px;
    
//     // .counter__body

//     &__body {
//         border: 1px solid #FF6600;
//         border-radius: 15px;
//         overflow: hidden;
//         display: flex;
//         align-items: center;
        
//     }

//     // .counter__button

//     &__button {
//         cursor: pointer;
        
//         padding: 5px 12px;
//         transition: .3s;

//         @media (any-hover: hover) {
//             &:hover {
//                 color: #fff;
//                 background-color: #FF6600;
//                 border-color: #FF6600;
//             }}

//         &-minus {

//             border-right: 1px solid #cacaca;
//         }
//         &-plus {
//             border-left: 1px solid #cacaca;
//         }

//     }

//     // .counter__value

//     &__value {
//         width: 45px;
//         text-align: center;
//         padding: 5px 7px;
//     }
// }

// ================================


.counter {
    width: clamp(80px, 2vw, 100px);
    height: clamp(20px, 2vw, 25px);
    
    font-size: clamp(14px, 2vw, 16px);

    
    
    // max-width: 145px;
    
    // .counter__body

    &__body {
        display: flex;
        height: 100%;
       
        border-radius: 30px;
        overflow: hidden;

        // border: 1px solid #FF6600;
    }

    // .counter__button

    &__button {
        flex: 0 0 33.333%;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        

       
        color: #fff;
        background-color: #FF6600;
        
        transition: .3s;

        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.02);
                box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.7);
            }
        }

        &-minus {

            // border-right: 1px solid #cacaca;
        }
        &-plus {
            // border-left: 1px solid #cacaca;
        }

    }

    // .counter__value

    &__value {
        flex: 0 0 33.333%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}